#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.btn{
  margin: 10px;
}

.primary{
  background-color: #66AEE8;
  border-color: azure;
  border-width: 2px;
  animation: sizeBig 2s ease-out infinite;
}

@keyframes sizeBig {
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(1.1);
  }
  100%{
    transform: scale(1);
  }
}

.danger{
  background-color: #EB2D5D;
  border-color: azure;
  border-width: 2px;
  animation: rightLeft 2s ease-out infinite;
}

@keyframes rightLeft {
  0%{
    transform: translateX(0);
  }
  50%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0);
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
